body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.app-layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.tab-bar {
    height: 20px;
}

.pixi-container {
    height: 100%;
}
